<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/home">Ejemplo Angular 7</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active"><a routerLink="/home"  title="Inicio">Inicio</a></li>
            <li routerLinkActive="active"><a routerLink="/nosotros" title="Nosotros">Nosotros</a></li>
            <li routerLinkActive="active"><a routerLink="/productos" title="Productos">Productos</a></li>
            <li routerLinkActive="active"><a routerLink="/servicios" title="Servicios">Servicios</a></li>
            <li routerLinkActive="active"><a routerLink="/contacto" title="Contacto">Contacto</a></li>
            <li routerLinkActive="active"><a routerLink="/categoria" title="Categorías">Categorías</a></li>
            <li routerLinkActive="active"><a routerLink="/post" title="Post">Post</a></li>
            <li routerLinkActive="active"><a routerLink="/login" title="Login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>