 <div class="starter-template">
 	<h1>Nuestros productos</h1>
	<div class="row">
	  <!--ítem-->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.cesarcancino.com/rest/angular/assets/images/juvenil.jpeg" alt="...">
	      <div class="caption">
	        <h3>Espacio juvenil</h3>
	        <p>Comodidad y estilo</p>

	        <p><a href="javascript:void(0);" class="btn btn-primary" role="button">Ver más</a></p>
	      </div>
	    </div>
	  </div>
	  <!--/ítem-->
	  <!--ítem-->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.cesarcancino.com/rest/angular/assets/images/cowork.jpeg" alt="...">
	      <div class="caption">
	        <h3>Espacio Cowork</h3>
	        <p>Trabajo en equipo</p>

	        <p><a href="javascript:void(0);" class="btn btn-primary" role="button">Ver más</a></p>
	      </div>
	    </div>
	  </div>
	  <!--/ítem-->
	  <!--ítem-->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.cesarcancino.com/rest/angular/assets/images/gamer.jpeg" alt="...">
	      <div class="caption">
	        <h3>Espacio Gamer</h3>
	        <p>Subir el nivel</p>

	        <p><a href="javascript:void(0);" class="btn btn-primary" role="button">Ver más</a></p>
	      </div>
	    </div>
	  </div>
	  <!--/ítem-->
	  <!--ítem-->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.cesarcancino.com/rest/angular/assets/images/motobomba.jpeg" alt="...">
	      <div class="caption">
	        <h3>Fosas y motobombas</h3>
	        <p>Hasta 20% de descuento</p>

	        <p><a href="javascript:void(0);" class="btn btn-primary" role="button">Ver más</a></p>
	      </div>
	    </div>
	  </div>
	  <!--/ítem-->
	  <!--ítem-->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.cesarcancino.com/rest/angular/assets/images/lavadora.jpeg" alt="...">
	      <div class="caption">
	        <h3>Lavado y secado</h3>
	        <p>Hasta 20% de descuento</p>

	        <p><a href="javascript:void(0);" class="btn btn-primary" role="button">Ver más</a></p>
	      </div>
	    </div>
	  </div>
	  <!--/ítem-->
	  <!--ítem-->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="http://www.cesarcancino.com/rest/angular/assets/images/banios.jpeg" alt="...">
	      <div class="caption">
	        <h3>Todo para tu baño</h3>
	        <p>Hasta 20% de descuento</p>

	        <p><a href="javascript:void(0);" class="btn btn-primary" role="button">Ver más</a></p>
	      </div>
	    </div>
	  </div>
	  <!--/ítem-->
	</div>
 </div>